:root {
    --primary-color: #2a5da6;
}

/* Скрытие элементов меню "On Read the Docs" и "On GitLab" в плашке версий */
.rst-other-versions > dl:nth-child(3), .rst-other-versions > dl:nth-child(4), .rst-other-versions > dl:nth-child(5) {
    display: none;
}

/* Скрытие плашки меню версий при печати */
@media print {
    .rst-versions.rst-badge {
        display: none !important;
    }
}

/* bootstrap alerts class and subclasses fix */
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

/* bootstrap badges subclasses fix */
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}

a {
    color: var(--primary-color);
}

.navbar {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.navbar .navbar-collapse {
    border-color: var(--primary-color);
}

.navbar .navbar-nav > li.active > a {
    background-color: #ffffff;
    color: var(--primary-color);
}

.navbar .navbar-nav > li > a {
    text-shadow: none;
}


/* Центрирование изображений */
/* disabled by max
img {
    display: block !important;
}
*/
